# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Identify commonly used libraries by Data Scientists
- arithmetic expressions in Python

In [ ]:
## arithmetic expressions in Python
hamza el-khanchouf

Some of the popular languages that Data Scientists use are :
1. python
2. R
3. julia
4. scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. pandas
3. matplotlip
4. seaborn

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335